/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100dvh;
  background: url(../Img/Fondo.png);
  background-size: contain;
}

/* Estilos Principales */
#principal {
  display: flex;
  position: relative;
  width: 800px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
  background-color: transparent;
}

.contenedor {
  overflow: hidden;
  width: 50%;
}

/* Inicio De Sesion y Crear Cuenta */
.inicioSesion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-in;
  height: 100%;
}

.inicioSesion h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.inicioSesion p {
  font-size: 15px;
  margin-bottom: 10px;
}

.inicioSesion a {
  font-size: 14px;
  margin: 15px 0px;
  color: #000;
}

.inicioSesion a:hover {
  color: #0009;
}

.input {
  width: 240px;
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #05ffea;
}

.input:active {
  border: 1px solid #000;
}

.input input {
  border: none;
  outline: none;
  height: 100%;
  font-size: 14px;
  background-color: inherit;
}

.input select {
  padding: 7px;
  margin: 3px;
  width: 220px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: #05ffea;
  color: #0007;
}

.btn {
  cursor: pointer;
  width: 140px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #00ffea;
}

.btn span {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 12px auto;
}

.btn:hover {
  border: 1px solid #000;
  background-color: transparent;
}

.redSocial {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.redSocial__h2 h3 {
  font-size: 16px;
}

.redSocial a {
  text-decoration: none;
  margin: 0px 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #000;
}

/* Sección Bienvenida */
.bienvenido {
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-radius: 50% 0 0 50%;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  transform: translateX(100%);
  background-color: #05ffea;
}

.bienvenido .mobil {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  padding: 0 50px;
}

.bienvenido h3 {
  font-size: 40px;
}

.bienvenido p {
  text-align: center;
  font-size: 14px;
}

.bienvenido .button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.bienvenido .button:hover {
  background-color: transparent;
}

/* Animaciones De Sección De Bienvenida */
.bienvenido-sign-in {
  transform: translateX(100%);
}

#principal.toggle .bienvenido {
  border-radius: 0 50% 50% 0;
  transform: translateX(0);
}

#principal.toggle .bienvenido-sign-in {
  transform: translateX(0);
}

#principal.toggle .bienvenido-sign-up {
  transform: translateX(-100%);
}

/* Recuperar */
#recuperar {
  display: none;
  width: 300px;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px #000;
  background-color: transparent;
}

.btnRegresar {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #00ffea;
}

.btnRegresar img {
  width: 15px;
  margin: 11px auto;
}

.btnRegresar:hover {
  border: 1px solid #000;
  background-color: transparent;
}

#recuperar h2 {
  margin: 10px 0px;
  font-size: 20px;
}

#recuperar p {
  margin: 10px 0px;
  font-size: 16px;
}

#recuperar .btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
}

#recuperar .btn:hover {
  border: 1px solid #000;
}

#recuperar h3 {
  font-size: 20px;
  margin: 40px 0px;
}

/* Barra De Navegación */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 5px #000;
}

.nav__logo {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.nav__logo img {
  width: 70px;
}

.nav__contenedor {
  display: flex;
  align-items: center;
  margin: 10px;
}

.contenedor__item {
  margin-right: 25px;
}

.contenedor__item .icon-nav {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #20b2aa66;
}

.contenedor__item .icon-nav:hover {
  border: 1px solid #000;
  background-color: transparent;
}

.icon-nav img {
  width: 20px;
}

/* Sección Principal */
.inicio {
  display: flex;
  margin: 85px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}

.inicio__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px 20px;
}

.inicio__contenedor img {
  width: 35px;
}

.inicio__contenedor-btn {
  display: flex;
  align-items: center;
}

.inicio__contenedor-btn .busqueda {
  width: 60px;
  margin: 10px;
}

.contenedor_multimedia {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
}

.contenedor_multimedia h2 {
  margin-bottom: 15px;
}

.contenedor_multimedia img {
  width: 70px;
}

.contenedor_multimedia img:hover {
  opacity: 0.5;
}

.contenedor-btn .btn {
  font-weight: bold;
  font-size: 14px;
  width: 70px;
  height: 30px;
  margin-bottom: 20px;
}

.contenedor-btn .btn:hover {
  border: 1px solid #000;
  background-color: transparent;
}

/* Mapa Interactivo */
.inicio__contenedor .localizacion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.inicio__contenedor .localizacion p {
  margin: 10px;
  padding: 10px;
}

.inicio__contenedor .localizacion div {
  margin: 10px;
}

.noOpacity:hover {
  opacity: 1;
}

/* Admision */
.admision {
  padding: 15px;
}

.admision h2 {
  margin: 10px;
}

.admision__contenedor {
  margin: 15px;
}

.admision .contenedor__item {
  padding: 1px;
  display: inline-block;
}

.admision li {
  font-size: 16px;
  margin: 5px;
  list-style: decimal;
}

/* Vacunacion */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  justify-content: center;
  align-items: center;
}

.contenedor-modal {
  background-color: #05ffea;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 5px 5px 5px #000;
}

.cerrar {
  color: #000;
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.contenedor-modal h3 {
  margin: 10px 0px;
}

.contenedor-modal input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 5px;
}

.contenedor-modal button {
  background-color: #0097e7;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.contenedor-modal button:hover {
  background-color: #00cccc;
}

/* Sección Educacion */
#educacion {
  justify-content: center;
  align-items: flex-start;
  box-shadow: none;
  width: 100%;
  height: 100dvh;
  padding: 10px;
  margin: 40px auto;
}

.educacion__contenedor {
  display: flex;
  justify-content: center;
  text-align: center;
}

.educacion__contenedor aside {
  width: 30%;
  padding: 20px;
}

.educacion__contenedor div {
  width: 70%;
  padding: 20px;
  text-align: justify;
}

.educacion__contenedor aside,
.educacion__contenedor div {
  border: 1px solid #000;
}

/* Sección Notificaciones */
.notification-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #20b2aa66;
  display: flex;
  justify-content: center;
  position: relative;
}

.notification-icon:hover{
  border: 1px solid #000;
}

.notification-icon img {
  width: 20px;
}

.notification-counter {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: #05ffea;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
}

.notification-list {
  position: absolute;
  top: 70px;
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #000;
  display: none;
}

.notification-list ul {
  padding: 10px;
}

.notification-list ul li {
  padding: 10px;
  border-bottom: 2px solid #eee;
}

.notification-list ul li:last-child {
  border-bottom: none;
}

.notification-list ul li:hover {
  background-color: #f0f0f0;
}

/* sección Perfil */
#perfil {
  margin: 25px auto;
}

.perfil__imagen {
  margin: 15px;
  padding: 10px;
}

.perfil__imagen img {
  width: 60px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}

.perfil__imagen h3 {
  font-size: 14px;
}

.confi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.confi h2 {
  font-size: 14px;
  margin-right: 10px;
}

.confi p {
  font-size: 12px;
  margin-left: 10px;
}

#perfil .btn {
  font-size: 14px;
  font-weight: bold;
}

/* Sección Buscar */
#searchForm {
  margin-bottom: 10px;
}

#searchForm input[type='text'] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

#searchForm button {
  padding: 10px 15px;
  cursor: pointer;
}

#resultado {
  position: absolute;
  top: 120px;
}

/* Footer */
footer {
  margin-top: auto;
  text-align: center;
  background-color: #20b2aa66;
}

.footer__contenido {
  padding: 10px;
}

.footer__contenido p {
  font-size: 14px;
}

.footer__contenido h3 {
  font-size: 14px;
}

/* Mostrar y Ocultar */
#contenidoPrincipal {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

#historial {
  display: none;
}

#actividades {
  display: none;
}

#mapaInteractivo {
  display: none;
}

#admision {
  display: none;
  flex-direction: column;
}

#vacunacion {
  display: none;
  flex-direction: column;
}

#glucosa {
  display: none;
  flex-direction: column;
}

#citas {
  display: none;
  flex-direction: column;
}

#medicamentos {
  display: none;
  flex-direction: column;
}
