/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:url(../Img/Fondo.png);
  background-size: contain;
}

/* Estilos Principales */
#principal {
  display: flex;
  position: relative;
  width: 800px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
  background-color: transparent;
}

.contenedor {
  overflow: hidden;
  width: 50%;
}

/* Inicio De Sesion y Crear Cuenta */
.inicioSesion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-in;
  height: 100%;
}

.inicioSesion h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.inicioSesion p {
  font-size: 15px;
  margin-bottom: 10px;
}

.inicioSesion a {
  font-size: 14px;
  margin: 15px 0px;
  color: #000;
}

.inicioSesion a:hover{
  color: #0009;
}

.input {
  width: 240px;
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #05ffea;
}

.input:active{
  border: 1px solid #000;
}

.input input {
  border: none;
  outline: none;
  height: 100%;
  font-size: 14px;
  background-color: inherit;
}

.input select {
  padding: 7px;
  margin: 3px;
  width: 220px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: #05ffea ;
  color: #0007;
}

.btn {
  cursor: pointer;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #00ffea;
}

.btn span {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 12px auto;
}

.btn:hover {
  border: 1px solid #000;
  background-color: transparent;
}

.redSocial {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.redSocial__h2 h3 {
  font-size: 16px;
}

.redSocial a {
  text-decoration: none;
  margin: 0px 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #000;
}

/* Sección Bienvenida */
.bienvenido {
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-radius: 50% 0 0 50%;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  transform: translateX(100%);
  background-color: #05ffea;
}

.bienvenido .mobil {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  padding: 0 50px;
}

.bienvenido h3 {
  font-size: 40px;
}

.bienvenido p {
  text-align: center;
  font-size: 14px;
}

.bienvenido .button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.bienvenido .button:hover{
  background-color: transparent;
}

/* Animaciones De Sección De Bienvenida */
.bienvenido-sign-in {
  transform: translateX(100%);
}

#principal.toggle .bienvenido {
  border-radius: 0 50% 50% 0;
  transform: translateX(0);
}

#principal.toggle .bienvenido-sign-in {
  transform: translateX(0);
}

#principal.toggle .bienvenido-sign-up {
  transform: translateX(-100%);
}

/* Recuperar */
#recuperar {
  display: none;
  width: 300px;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px #000;
  background-color: transparent;
}

.btnRegresar{
  display: block;
  cursor: pointer;
  width: 60px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #00ffea;
}

.btnRegresar img {
  width: 15px;
  margin: 11px auto;
}

.btnRegresar:hover {
  border: 1px solid #000;
  background-color: transparent;
}

#recuperar h2 {
  margin: 10px 0px;
  font-size: 20px;
}

#recuperar p {
  margin: 10px 0px;
  font-size: 16px;
}

#recuperar .btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
}

#recuperar .btn:hover{
  border: 1px solid #000;
}

#recuperar h3 {
  font-size: 20px;
  margin: 40px 0px;
}

/* Barra De Navegación */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 5px #000;
}

.nav__logo {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.nav__contenedor {
  display: flex;
  align-items: center;
  margin: 10px;
}

.nav__contenedor-item{
  margin-right: 25px;
}

.nav__contenedor-item a img{
  width: 30px;
}

/* Sección Principal */
.inicio {
  display: flex;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}

.inicio__contenedor {
  margin: 0px 20px;
  text-align: center;
}

.contenedor_multimedia {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
}

.contenedor_multimedia:hover{
  opacity: 0.5;
}

.contenedor-btn .btn{
  font-weight: bold;
  font-size: 14px;
  width: 70px;
  height: 30px;
  margin-bottom: 20px;
}

.contenedor-btn .btn:hover{
  border: 1px solid #000;
  background-color: transparent;
}

/* Mapa Interactivo */
.inicio__contenedor img{
  width: 200px;
}

.inicio__contenedor .localizacion{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.inicio__contenedor .localizacion p {
  margin: 10px;
  padding: 10px;
}

.inicio__contenedor .localizacion div {
  margin: 10px;
}

.noOpacity:hover{
  opacity: 1;
}

/* Mostrar y Ocultar */
#contenidoPrincipal{
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

#historial{
  display: none;
}

#actividades{
  display: none;
}

#mapaInteractivo{
  display: none;
}

#admision{
  display: none;
}

#vacunacion{
  display: none;
}

#glucosa{
  display: none;
}

#citas{
  display: none;
}

#medicamentos{
  display: none;
}

#educacion{
  display: none;
}

#perfil{
  display: none;
}